<!DOCTYPE html>
<html>
  <head>
    <title>Edumall apps - Cronus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'cronus' %>
    <%= stylesheet_pack_tag 'cronus' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
