<!DOCTYPE html>
<html>
  <head>
    <title>Edumall apps - Userservice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'userservice' %>
    <%= stylesheet_pack_tag 'userservice' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<% @_dotenv = Dotenv.load(".env.#{Rails.env}") %>
<% @_dotenv_key = @_dotenv.keys.select{ |str| str.include?('BASE_URL')} %>
<% @_dotenv_key.each do |env| %>
  <script>
    window["<%= env %>"] = "<%= @_dotenv[env] %>"
  </script>
<% end %>