<!DOCTYPE html>
<html>
  <head>
    <title>Edumall apps - Userservice</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/dotenv' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'userservice' %>
    <%= stylesheet_pack_tag 'userservice' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>